node_modules
package-lock.json
yarn.lock
*.log
.env
Nova pasta
mysql/refman-9.2-en.a4.pdf
mongoDB/curso_mongodb-main

storage/work/file01.csv
storage/work/file02.csv
storage/work/file03.csv
storage/work/file04.csv
storage/work/file05.csv
storage/work/file06.csv
storage/work/file07.csv
storage/work/file08.csv
storage/work/file09.csv
storage/work/file10.csv
storage/work/exemplo.csv
storage/work/exemplo.csv.zip

storage/finalizado/file01.csv
storage/finalizado/file02.csv
storage/finalizado/file03.csv
storage/finalizado/file04.csv
storage/finalizado/file05.csv
storage/finalizado/file06.csv
storage/finalizado/file07.csv
storage/finalizado/file08.csv
storage/finalizado/file09.csv
storage/finalizado/file10.csv

